<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
*************************************************
*************************************************
설명 : board 관련 mapper 
(select , insert , update, delete)
리스트 , 카운트 
댓글 기능 및 페이지 기능
*************************************************
*************************************************
 -->
<mapper namespace="com.community.mapper.Board_Mapper">
	<insert id="Board_Insert" parameterType="com.community.vo.CM_BOARD">
		<![CDATA[
			INSERT INTO CM_BOARD(
					             B_NUM
					            ,USER_ID
					            ,B_SUBJECT
					            ,B_CONTENT
					            ,B_CATEGORY
					            ,B_IMG
					            ,B_THUMBIMG
					            ,REG_DATE
					            ,MOD_DATE
					            )VALUES(
					            CM_BOARD_SEQ.nextval
					            ,#{user_id}
					            ,#{b_subject}
					            ,#{b_content}
					            ,#{b_category}
					            ,#{b_img}
					            ,#{b_thumbimg}
					            ,TO_CHAR(SYSDATE,'YYYY-MM-DD HH24:MI:SS')
					            ,TO_CHAR(SYSDATE,'YYYY-MM-DD HH24:MI:SS'))
		]]>
	</insert>
	<update id="Board_Update" parameterType="com.community.vo.CM_BOARD">
		<![CDATA[
			UPDATE CM_BOARD
				SET
				 B_SUBJECT	 = #{b_subject}
				,B_CONTENT	 = #{b_content}
				,B_CATEGORY	 = #{b_category}
				,B_IMG		 = #{b_img}
				,B_THUMBIMG  = #{b_thumbimg}
				,MOD_DATE	 = TO_CHAR(SYSDATE,'YYYY-MM-DD HH24:MI:SS')
				WHERE B_NUM = #{b_num}
		]]>
	</update>

	<update id="report_count">
		<![CDATA[
			UPDATE CM_BOARD
				SET
					REPORT_COUNT = (SELECT NVL(MAX(REPORT_COUNT),0)+1 FROM CM_BOARD WHERE B_NUM = #{b_num})
					WHERE B_NUM = #{b_num}
		]]>
	</update>
	<update id="up_PopularCount">
		<![CDATA[
			UPDATE CM_BOARD
				SET
					UP_COUNT = (SELECT NVL(MAX(UP_COUNT),0)+1 FROM CM_BOARD WHERE B_NUM = #{b_num})
					WHERE B_NUM = #{b_num}
		]]>
	</update>
	<update id="down_PopularCount">
		<![CDATA[
			UPDATE CM_BOARD
				SET
					DOWN_COUNT = (SELECT NVL(MAX(DOWN_COUNT),0)+1 FROM CM_BOARD WHERE B_NUM = #{b_num})
					WHERE B_NUM = #{b_num}
		]]>
	</update>
	<select id="TableList" parameterType="java.util.HashMap" resultType="com.community.vo.CM_BOARD">
		<![CDATA[
			SELECT * 
  				FROM( SELECT ROWNUM RN,AA.*FROM
					( SELECT * FROM CM_BOARD WHERE B_SUBJECT LIKE '%'||#{word}||'%' ORDER BY REG_DATE DESC)AA)
				  	WHERE RN >= #{startRow}  and RN <= #{endRow}
		]]>
	</select>
	
	<select id="TableCount" parameterType="java.util.HashMap" resultType="Integer">
		<![CDATA[
			SELECT COUNT(*) FROM CM_BOARD
		]]>
		<if test='word != "" and word != null'>
			WHERE B_SUBJECT LIKE '%'||#{word}||'%'
		</if>
	</select>
	
	<select id="TableDtailView" resultType="com.community.vo.CM_BOARD">
		<![CDATA[
			SELECT * FROM CM_BOARD WHERE B_NUM = #{b_num}
		]]>
	</select>
</mapper>